  $main-color: #f8c471;
  $main-color-light: #fad7a0;
  $main-color-dark: #f5b041;

  $secondary-color-light: #aed6f1 ;
  $secondary-color-dark: #2e86c1  ;

  $title-font: "Underdog", system-ui;
  $text-font: "Roboto Slab", serif;