@import "./variables";

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.hidden{
  display:none;
}

header{
  background-color: $main-color-dark;
}

h1{
  font-family: $title-font;
  font-size: 20px;
  font-weight: bolder;
  color: $secondary-color-dark;
}

body{
  background-color: $main-color;

}
